---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Bungee&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="overlay"></div>
		<div class="content-container">
			
			<div class="title-container">
				<h1>Bybane Quiz</h1>
				<span class="text-behind">Bybane Quiz</span>
			</div>
			<a href="/onboarding">
				<div class="onboard-btn">
					start
				</div>
			</a>
		</div>
		<div id="bybane-svg-container">
			<svg id="bybane-svg" width="100%" height="auto" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g id="bybane-page3-background-v1.7" clip-path="url(#clip0_42_9)">
				<rect id="bg" y="0.802856" width="1920" height="1080" fill="#D2F5FA"/>
				<g id="sun">
				<g id="sun_2" filter="url(#filter0_f_42_9)">
				<circle cx="1156.14" cy="39.4564" r="147.911" fill="url(#paint0_linear_42_9)"/>
				</g>
				<g id="sun-overlay" style="mix-blend-mode:overlay">
				<circle cx="1156.14" cy="39.4564" r="147.911" fill="url(#paint1_linear_42_9)"/>
				</g>
				</g>
				<path id="mountain-z0" d="M291.8 116.783C263.938 120.042 141.984 660.139 0.629883 683.385V1022.38H1919.37V683.246C1919.37 683.246 1801.14 637.09 1740.19 516.31C1679.24 395.529 1450.53 58.0059 1429.11 58.6696C1407.69 59.3334 1396.29 142.68 1317.12 187.003C1207.59 248.316 1115.58 238.844 1050.84 187.003C1008.54 153.137 967.3 58.6696 956.267 58.6696C945.233 58.6696 927.81 196.773 927.81 196.773C848.174 642.306 570.528 610.743 475.96 584.108C400.305 562.8 319.662 113.524 291.8 116.783Z" fill="url(#paint2_linear_42_9)"/>
				<path id="mountain-z0-duplictate" d="M2203.8 116.783C2175.94 120.042 2053.98 660.139 1912.63 683.385V1022.38H3831.37V683.246C3831.37 683.246 3713.14 637.09 3652.19 516.31C3591.24 395.529 3362.53 58.0059 3341.11 58.6696C3319.69 59.3334 3308.29 142.68 3229.12 187.003C3119.59 248.316 3027.58 238.844 2962.84 187.003C2920.54 153.137 2879.3 58.6696 2868.27 58.6696C2857.23 58.6696 2839.81 196.773 2839.81 196.773C2760.17 642.306 2482.53 610.743 2387.96 584.108C2312.31 562.8 2231.66 113.524 2203.8 116.783Z" fill="url(#paint3_linear_42_9)"/>
				<path id="cloud-bg" fill-rule="evenodd" clip-rule="evenodd" d="M467.054 104.845H-47.8145C-37.776 97.0883 -20.8124 91.9913 -1.57634 91.9913C3.3341 91.9913 8.09647 92.3234 12.6334 92.9472C19.802 85.3811 31.7008 80.432 45.1673 80.432C50.1375 80.432 54.8942 81.1061 59.2783 82.3372C62.1769 77.3535 66.0965 74.2952 70.4108 74.2952C75.2973 74.2952 79.6773 78.2183 82.6412 84.4187C102.834 69.508 145.909 59.21 195.787 59.21C245.152 59.21 287.854 69.2971 308.303 83.9598C315.018 80.1121 323.455 77.821 332.617 77.821C345.165 77.821 356.352 82.118 363.619 88.8253C368.153 83.6344 374.371 80.432 381.232 80.432C388.935 80.432 395.828 84.4684 400.436 90.8236C405.902 89.8869 411.74 89.3805 417.804 89.3805C439.123 89.3805 457.651 95.6414 467.054 104.845Z" fill="url(#paint4_linear_42_9)"/>
				<path id="cloud-bg_2" fill-rule="evenodd" clip-rule="evenodd" d="M1936.38 216.793C1928.03 216.793 1920.34 218.039 1914.22 220.13C1895.59 212.159 1856.68 206.676 1811.7 206.676C1766.25 206.676 1727 212.274 1708.6 220.38C1705.9 217.009 1701.91 214.876 1697.46 214.876C1693.53 214.876 1689.96 216.539 1687.31 219.248C1683.32 218.579 1678.99 218.212 1674.46 218.212C1662.19 218.212 1651.34 220.903 1644.81 225.016C1640.68 224.677 1636.34 224.496 1631.86 224.496C1614.34 224.496 1598.88 227.267 1589.73 231.484H2058.88C2050.31 226.481 2033.43 223.077 2014 223.077C2008.48 223.077 2003.16 223.352 1998.17 223.862C1993.98 220.407 1987.7 218.212 1980.68 218.212C1974.43 218.212 1968.76 219.953 1964.63 222.775C1958.01 219.129 1947.81 216.793 1936.38 216.793Z" fill="url(#paint5_linear_42_9)"/>
				<path id="mountain-z2" d="M233.356 410.031C164.785 410.031 0.367188 138.235 0.367188 138.235V1024.8H951.738H1920V140.658C1920 140.658 1741.88 410.031 1714.78 410.031C1687.67 410.031 1633.23 315.808 1633.23 315.808C1633.23 315.808 1617.48 410.031 1571.1 410.031C1524.72 410.031 1241.03 -1.28625 1241.03 -1.28625C1241.03 -1.28625 1141.31 410.031 1089.59 410.031C1037.87 410.031 951.738 225.21 951.738 225.21C951.738 225.21 868.186 410.031 784.763 410.031C701.34 410.031 505.176 138.235 505.176 138.235C505.176 138.235 301.927 410.031 233.356 410.031Z" fill="url(#paint6_linear_42_9)"/>
				<path id="mountain-z2-duplicate" d="M2152.36 410.031C2083.78 410.031 1919.37 138.235 1919.37 138.235V1024.8H2870.74H3839V140.658C3839 140.658 3660.88 410.031 3633.78 410.031C3606.67 410.031 3552.23 315.808 3552.23 315.808C3552.23 315.808 3536.48 410.031 3490.1 410.031C3443.72 410.031 3160.03 -1.28625 3160.03 -1.28625C3160.03 -1.28625 3060.31 410.031 3008.59 410.031C2956.87 410.031 2870.74 225.21 2870.74 225.21C2870.74 225.21 2787.19 410.031 2703.76 410.031C2620.34 410.031 2424.18 138.235 2424.18 138.235C2424.18 138.235 2220.93 410.031 2152.36 410.031Z" fill="url(#paint7_linear_42_9)"/>
				<path id="cloud-bg_3" fill-rule="evenodd" clip-rule="evenodd" d="M2222.65 298.391H1707.78C1717.82 290.634 1734.79 285.537 1754.02 285.537C1758.93 285.537 1763.7 285.869 1768.23 286.493C1775.4 278.927 1787.3 273.978 1800.77 273.978C1805.74 273.978 1810.49 274.652 1814.88 275.883C1817.78 270.899 1821.7 267.841 1826.01 267.841C1830.9 267.841 1835.28 271.764 1838.24 277.964C1858.43 263.054 1901.51 252.756 1951.39 252.756C2000.75 252.756 2043.45 262.843 2063.9 277.505C2070.62 273.658 2079.05 271.367 2088.22 271.367C2100.76 271.367 2111.95 275.664 2119.22 282.371C2123.75 277.18 2129.97 273.978 2136.83 273.978C2144.53 273.978 2151.43 278.014 2156.03 284.369C2161.5 283.433 2167.34 282.926 2173.4 282.926C2194.72 282.926 2213.25 289.187 2222.65 298.391Z" fill="url(#paint8_linear_42_9)"/>
				<g id="mountain-z3">
				<path d="M262.245 242.548C242.375 242.942 0.629883 470.193 0.629883 470.193V1095.06H957.726H1915.17V470.193C1915.17 470.193 1812.76 452.683 1718.96 425.965C1625.17 399.247 1522.01 132.58 1495 130.677C1468 128.773 1300.78 470.193 1300.78 470.193C1300.78 470.193 1256.14 556.656 1167.79 557.576C1079.45 558.497 1003.49 470.193 1003.49 470.193C1003.49 470.193 859.857 256.928 842.95 259.459C826.042 261.99 763.934 470.193 692.323 470.193C620.712 470.193 282.114 242.154 262.245 242.548Z" fill="url(#paint9_linear_42_9)"/>
				<path d="M262.245 242.548C242.375 242.942 0.629883 470.193 0.629883 470.193V1095.06H957.726H1915.17V470.193C1915.17 470.193 1812.76 452.683 1718.96 425.965C1625.17 399.247 1522.01 132.58 1495 130.677C1468 128.773 1300.78 470.193 1300.78 470.193C1300.78 470.193 1256.14 556.656 1167.79 557.576C1079.45 558.497 1003.49 470.193 1003.49 470.193C1003.49 470.193 859.857 256.928 842.95 259.459C826.042 261.99 763.934 470.193 692.323 470.193C620.712 470.193 282.114 242.154 262.245 242.548Z" fill="url(#paint10_linear_42_9)" fill-opacity="0.2"/>
				</g>
				<g id="mountain-z3-duplicate">
				<path d="M2174.24 242.548C2154.38 242.942 1912.63 470.193 1912.63 470.193V1095.06H2869.73H3827.17V470.193C3827.17 470.193 3724.76 452.683 3630.96 425.965C3537.17 399.247 3434.01 132.58 3407 130.677C3380 128.773 3212.78 470.193 3212.78 470.193C3212.78 470.193 3168.14 556.656 3079.79 557.576C2991.45 558.497 2915.49 470.193 2915.49 470.193C2915.49 470.193 2771.86 256.928 2754.95 259.459C2738.04 261.99 2675.93 470.193 2604.32 470.193C2532.71 470.193 2194.11 242.154 2174.24 242.548Z" fill="url(#paint11_linear_42_9)"/>
				<path d="M2174.24 242.548C2154.38 242.942 1912.63 470.193 1912.63 470.193V1095.06H2869.73H3827.17V470.193C3827.17 470.193 3724.76 452.683 3630.96 425.965C3537.17 399.247 3434.01 132.58 3407 130.677C3380 128.773 3212.78 470.193 3212.78 470.193C3212.78 470.193 3168.14 556.656 3079.79 557.576C2991.45 558.497 2915.49 470.193 2915.49 470.193C2915.49 470.193 2771.86 256.928 2754.95 259.459C2738.04 261.99 2675.93 470.193 2604.32 470.193C2532.71 470.193 2194.11 242.154 2174.24 242.548Z" fill="url(#paint12_linear_42_9)" fill-opacity="0.2"/>
				</g>
				<g id="grass">
				<g id="tree">
				<mask id="mask0_42_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="201" y="360" width="125" height="116">
				<path id="tree-m" fill-rule="evenodd" clip-rule="evenodd" d="M323.217 380.118C328.446 392.878 323.76 407.678 312.548 418.364C318.532 423.279 322.275 430.29 322.275 438.073C322.275 452.939 308.618 464.99 291.771 464.99C289.761 464.99 287.796 464.819 285.894 464.491V475.87H254.264C256.412 474.94 259.661 471.468 262.405 464.079C258.819 464.9 255.084 465.333 251.249 465.333C223.734 465.333 201.43 443.028 201.43 415.514C201.43 388 223.734 365.695 251.249 365.695C255.599 365.695 259.82 366.253 263.842 367.3C265.808 366.182 267.879 365.17 270.048 364.282C292.122 355.236 315.927 362.327 323.217 380.118Z" fill="url(#paint13_linear_42_9)"/>
				</mask>
				<g mask="url(#mask0_42_9)">
				<path id="tree-m_2" fill-rule="evenodd" clip-rule="evenodd" d="M323.217 380.118C328.446 392.878 323.76 407.678 312.548 418.364C318.532 423.279 322.275 430.29 322.275 438.073C322.275 452.939 308.618 464.99 291.771 464.99C289.761 464.99 287.796 464.819 285.894 464.491V475.87H254.264C256.412 474.94 259.661 471.468 262.405 464.079C258.819 464.9 255.084 465.333 251.249 465.333C223.734 465.333 201.43 443.028 201.43 415.514C201.43 388 223.734 365.695 251.249 365.695C255.599 365.695 259.82 366.253 263.842 367.3C265.808 366.182 267.879 365.17 270.048 364.282C292.122 355.236 315.927 362.327 323.217 380.118Z" fill="url(#paint14_linear_42_9)"/>
				</g>
				</g>
				<path id="tree_2" fill-rule="evenodd" clip-rule="evenodd" d="M1563.94 370.625C1569.16 383.385 1564.48 398.184 1553.27 408.871C1559.25 413.785 1562.99 420.796 1562.99 428.579C1562.99 443.445 1549.34 455.497 1532.49 455.497C1530.48 455.497 1528.51 455.325 1526.61 454.997V466.377H1494.98C1497.13 465.446 1500.38 461.975 1503.12 454.585C1499.54 455.406 1495.8 455.839 1491.97 455.839C1464.45 455.839 1442.15 433.535 1442.15 406.02C1442.15 378.506 1464.45 356.201 1491.97 356.201C1496.32 356.201 1500.54 356.759 1504.56 357.807C1506.53 356.688 1508.6 355.677 1510.77 354.788C1532.84 345.743 1556.65 352.833 1563.94 370.625Z" fill="url(#paint15_linear_42_9)"/>
				<path id="tree_3" fill-rule="evenodd" clip-rule="evenodd" d="M59.4063 352.231C54.1776 364.991 58.8636 379.79 70.0755 390.477C64.0914 395.391 60.3484 402.403 60.3484 410.185C60.3484 425.051 74.0056 437.103 90.8526 437.103C93.2729 437.103 95.6274 436.854 97.885 436.384V478.87H129.515C125.367 477.073 117.112 465.801 116.316 435.129C121.067 436.634 126.126 437.446 131.375 437.446C158.889 437.446 181.194 415.141 181.194 387.627C181.194 360.112 158.889 337.808 131.375 337.808C127.025 337.808 122.804 338.365 118.782 339.413C116.816 338.295 114.745 337.283 112.576 336.394C90.5014 327.349 66.6968 334.439 59.4063 352.231Z" fill="url(#paint16_linear_42_9)"/>
				<g id="Mask group">
				<mask id="mask1_42_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-63" y="454" width="2057" height="577">
				<path id="grass_2" d="M-8.57473 460.937C116.709 428.058 659.226 539.221 957.561 493.773C1255.9 448.325 1750.12 475.487 1918.49 456.657C2086.86 437.827 1918.49 1030.57 1918.49 1030.57H-1.51093C-1.51093 1030.57 -133.859 493.817 -8.57473 460.937Z" fill="url(#paint17_linear_42_9)"/>
				</mask>
				<g mask="url(#mask1_42_9)">
				<g id="grass_3">
				<path d="M-8.57473 460.937C116.709 428.058 659.226 539.221 957.561 493.773C1255.9 448.325 1750.12 475.487 1918.49 456.657C2086.86 437.827 1918.49 1030.57 1918.49 1030.57H-1.51093C-1.51093 1030.57 -133.859 493.817 -8.57473 460.937Z" fill="url(#paint18_linear_42_9)"/>
				<path d="M-8.57473 460.937C116.709 428.058 659.226 539.221 957.561 493.773C1255.9 448.325 1750.12 475.487 1918.49 456.657C2086.86 437.827 1918.49 1030.57 1918.49 1030.57H-1.51093C-1.51093 1030.57 -133.859 493.817 -8.57473 460.937Z" fill="url(#paint19_linear_42_9)" fill-opacity="0.2"/>
				</g>
				<g id="light-grass" style="mix-blend-mode:screen">
				<ellipse cx="313.132" cy="257.374" rx="313.132" ry="257.374" transform="matrix(0.760553 0.649276 -0.59684 0.80236 1006.51 130.617)" fill="url(#paint20_linear_42_9)"/>
				</g>
				</g>
				</g>
				</g>
				<g id="grass-duplicate">
				<g id="Mask group_2">
				<mask id="mask2_42_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="1838" y="454" width="2057" height="577">
				<path id="grass_4" d="M1892.43 460.937C2017.71 428.058 2560.23 539.221 2858.56 493.773C3156.9 448.325 3651.12 475.487 3819.49 456.657C3987.86 437.827 3819.49 1030.57 3819.49 1030.57H1899.49C1899.49 1030.57 1767.14 493.817 1892.43 460.937Z" fill="url(#paint21_linear_42_9)"/>
				</mask>
				<g mask="url(#mask2_42_9)">
				<g id="grass_5">
				<path d="M1892.43 460.937C2017.71 428.058 2560.23 539.221 2858.56 493.773C3156.9 448.325 3651.12 475.487 3819.49 456.657C3987.86 437.827 3819.49 1030.57 3819.49 1030.57H1899.49C1899.49 1030.57 1767.14 493.817 1892.43 460.937Z" fill="url(#paint22_linear_42_9)"/>
				<path d="M1892.43 460.937C2017.71 428.058 2560.23 539.221 2858.56 493.773C3156.9 448.325 3651.12 475.487 3819.49 456.657C3987.86 437.827 3819.49 1030.57 3819.49 1030.57H1899.49C1899.49 1030.57 1767.14 493.817 1892.43 460.937Z" fill="url(#paint23_linear_42_9)" fill-opacity="0.2"/>
				</g>
				</g>
				</g>
				</g>
				<g id="rail-foreground">
				<mask id="mask3_42_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="588" width="1926" height="493">
				<rect id="rail" x="-1" y="588.073" width="1925.04" height="492.73" fill="url(#paint24_linear_42_9)"/>
				</mask>
				<g mask="url(#mask3_42_9)">
				<rect id="rail_2" x="-1" y="588.073" width="1925.04" height="492.73" fill="url(#paint25_linear_42_9)"/>
				<g id="light-rail" style="mix-blend-mode:color-dodge">
				<ellipse cx="566.24" cy="828.364" rx="566.24" ry="828.364" transform="matrix(0.66786 0.744287 -0.495081 0.868847 604.023 -329.366)" fill="url(#paint26_linear_42_9)"/>
				</g>
				<g id="Line 10" style="mix-blend-mode:plus-lighter">
				<line x1="-16.0117" y1="613.155" x2="1929.82" y2="613.155" stroke="#193030" stroke-width="5"/>
				</g>
				</g>
				</g>
				<g id="rail-foreground-duplicate">
				<mask id="mask4_42_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="1915" y="588" width="1926" height="493">
				<rect id="rail_3" x="1915" y="588.073" width="1925.04" height="492.73" fill="url(#paint27_linear_42_9)"/>
				</mask>
				<g mask="url(#mask4_42_9)">
				<rect id="rail_4" x="1915" y="588.073" width="1925.04" height="492.73" fill="url(#paint28_linear_42_9)"/>
				<g id="light-rail_2" style="mix-blend-mode:color-dodge">
				<ellipse cx="566.24" cy="828.364" rx="566.24" ry="828.364" transform="matrix(0.66786 0.744287 -0.495081 0.868847 2520.02 -329.366)" fill="url(#paint29_linear_42_9)"/>
				</g>
				<g id="Line 10_2" style="mix-blend-mode:plus-lighter">
				<line x1="1899.99" y1="613.155" x2="3845.82" y2="613.155" stroke="#193030" stroke-width="5"/>
				</g>
				</g>
				</g>
				<g id="bybane">
				<g id="bybane_2">
				<path id="bybane back" fill-rule="evenodd" clip-rule="evenodd" d="M628.489 464.494C632.197 450.325 645.086 439.87 660.417 439.87H1359.96C1366.9 439.87 1373.33 442.009 1378.64 445.662C1381.7 447.547 1384.43 450.125 1386.61 453.395C1387.49 454.596 1388.29 455.859 1389 457.175L1451.44 556.207C1462.35 573.52 1449.91 596.073 1429.44 596.073H1300.5C1299.69 596.073 1298.89 596.037 1298.11 595.968H660.417C659.456 595.968 658.504 595.927 657.564 595.847H613.808C603.285 595.847 595.627 585.864 598.354 575.7L627.39 467.485C627.677 466.415 628.047 465.418 628.489 464.494Z" fill="#A42A0E"/>
				<path id="bybane_3" fill-rule="evenodd" clip-rule="evenodd" d="M541.677 464.599C545.384 450.43 558.273 439.975 573.604 439.975H1273.15C1280.08 439.975 1286.52 442.113 1291.83 445.767C1294.89 447.652 1297.62 450.229 1299.79 453.5C1300.67 454.701 1301.47 455.963 1302.19 457.28L1364.62 556.311C1375.54 573.625 1363.1 596.178 1342.63 596.178H1213.69C1212.88 596.178 1212.08 596.142 1211.29 596.073H573.604C572.643 596.073 571.692 596.032 570.752 595.951H526.995C516.472 595.951 508.815 585.968 511.542 575.805L540.578 467.589C540.865 466.52 541.235 465.523 541.677 464.599Z" fill="#F8F7FF"/>
				<mask id="mask5_42_9" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="510" y="439" width="859" height="158">
				<path id="bybane_4" fill-rule="evenodd" clip-rule="evenodd" d="M541.677 464.599C545.384 450.43 558.273 439.975 573.604 439.975H1273.15C1280.08 439.975 1286.52 442.113 1291.83 445.766C1294.89 447.652 1297.62 450.229 1299.79 453.5C1300.67 454.701 1301.47 455.963 1302.19 457.28L1364.62 556.311C1375.54 573.625 1363.1 596.178 1342.63 596.178H1213.69C1212.88 596.178 1212.08 596.142 1211.29 596.073H573.604C572.643 596.073 571.692 596.032 570.752 595.951H526.995C516.472 595.951 508.815 585.968 511.542 575.805L540.578 467.589C540.865 466.52 541.235 465.523 541.677 464.599Z" fill="#F8F7FF"/>
				</mask>
				<g mask="url(#mask5_42_9)">
				<path id="windows" fill-rule="evenodd" clip-rule="evenodd" d="M638.178 551.778H876.337V579.682C876.337 582.996 879.023 585.682 882.337 585.682H943.275C946.589 585.682 949.275 582.996 949.275 579.682V551.778H1182.75V579.682C1182.75 582.996 1185.44 585.682 1188.75 585.682H1222.14C1222.71 585.742 1223.28 585.772 1223.87 585.772H1281.94C1292.46 585.772 1300.12 575.789 1297.39 565.626L1293.68 551.778H1312.05C1318.13 551.778 1323.05 546.853 1323.05 540.778V450.975C1323.05 444.9 1318.13 439.975 1312.05 439.975H576.509C571.367 439.975 567.049 443.503 565.844 448.271C562.959 450.244 560.66 453.267 559.567 457.339L530.531 565.555C527.804 575.718 535.462 585.701 545.984 585.701H604.056C604.325 585.701 604.591 585.695 604.855 585.682H632.178C635.491 585.682 638.178 582.996 638.178 579.682V551.778Z" fill="url(#paint30_linear_42_9)"/>
				<g id="orange">
				<rect id="Rectangle 9" x="532.346" y="439.975" width="804.859" height="26.8694" fill="#F24822"/>
				<rect id="Rectangle 10" x="1286.7" y="411.489" width="196.712" height="42.4294" transform="rotate(58.3187 1286.7 411.489)" fill="#F24822"/>
				</g>
				<g id="grey-block-lines">
				<path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M850.362 430.588C847.161 429.731 843.871 431.63 843.013 434.831L838.292 452.451C838.048 453.36 838.027 454.276 838.195 455.141C838.19 455.235 838.188 455.33 838.188 455.426V599.77C838.188 603.084 840.874 605.77 844.188 605.77H851.915C855.229 605.77 857.915 603.084 857.915 599.77V455.435L862.068 439.937C862.926 436.736 861.026 433.446 857.825 432.588L850.362 430.588Z" fill="url(#paint31_linear_42_9)"/>
				<g id="lines">
				<path id="line-dark" d="M853.273 478.326L853.273 566.07" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				<path id="line-dark_2" d="M849.422 496.541L849.422 557.648" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				<path id="line-light" fill-rule="evenodd" clip-rule="evenodd" d="M855.179 450.133C855.259 449.869 855.109 449.59 854.845 449.51C854.581 449.43 854.301 449.579 854.222 449.844L852.738 454.752C852.725 454.795 852.718 454.838 852.717 454.881C852.715 454.895 852.715 454.909 852.715 454.924V461.425C852.715 461.701 852.939 461.925 853.215 461.925C853.491 461.925 853.715 461.701 853.715 461.425L853.715 454.976L855.179 450.133Z" fill="#E0DDEA"/>
				<path id="line-light_2" fill-rule="evenodd" clip-rule="evenodd" d="M851.276 452.405C851.351 452.139 851.199 451.855 850.936 451.77C850.674 451.684 850.4 451.831 850.325 452.097L849.503 455.008C849.497 455.028 849.493 455.048 849.49 455.068C849.482 455.103 849.478 455.14 849.478 455.178V459.034C849.478 459.31 849.701 459.534 849.978 459.534C850.254 459.534 850.478 459.31 850.478 459.034L850.478 455.233L851.276 452.405Z" fill="#E0DDEA"/>
				<path id="line-dark_3" d="M845.57 489.098L845.57 565.091" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				<path id="line-dark_4" d="M841.719 512.601L841.719 541.588" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				</g>
				</g>
				<g id="grey-block-lines_2">
				<path id="Union_2" fill-rule="evenodd" clip-rule="evenodd" d="M982.881 430.588C979.68 429.731 976.39 431.63 975.533 434.831L970.811 452.451C970.568 453.36 970.547 454.276 970.714 455.141C970.71 455.235 970.708 455.33 970.708 455.426V599.77C970.708 603.084 973.394 605.77 976.708 605.77H984.435C987.748 605.77 990.435 603.084 990.435 599.77V455.435L994.588 439.937C995.445 436.736 993.546 433.446 990.345 432.588L982.881 430.588Z" fill="url(#paint32_linear_42_9)"/>
				<g id="lines_2">
				<path id="line-dark_5" d="M985.793 478.326L985.793 566.07" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				<path id="line-dark_6" d="M981.941 496.541L981.941 557.648" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				<path id="line-light_3" fill-rule="evenodd" clip-rule="evenodd" d="M987.698 450.133C987.778 449.869 987.629 449.59 987.364 449.51C987.1 449.43 986.821 449.579 986.741 449.844L985.257 454.752C985.245 454.795 985.238 454.838 985.236 454.881C985.235 454.895 985.234 454.909 985.234 454.924V461.425C985.234 461.701 985.458 461.925 985.734 461.925C986.011 461.925 986.234 461.701 986.234 461.425L986.234 454.976L987.698 450.133Z" fill="#E0DDEA"/>
				<path id="line-light_4" fill-rule="evenodd" clip-rule="evenodd" d="M983.796 452.405C983.871 452.139 983.719 451.855 983.456 451.77C983.193 451.684 982.919 451.831 982.844 452.097L982.022 455.008C982.017 455.028 982.012 455.048 982.009 455.068C982.001 455.103 981.997 455.14 981.997 455.178V459.034C981.997 459.31 982.221 459.534 982.497 459.534C982.773 459.534 982.997 459.31 982.997 459.034L982.997 455.233L983.796 452.405Z" fill="#E0DDEA"/>
				<path id="line-dark_7" d="M978.09 489.098L978.09 565.091" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				<path id="line-dark_8" d="M974.238 512.601L974.238 541.588" stroke="#2A2E4C" stroke-opacity="0.54" stroke-linecap="round"/>
				</g>
				</g>
				<g id="light-window" style="mix-blend-mode:overlay">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M1157.51 437.12L1156.71 436.69L1156.44 437.12H1157.51ZM1151.94 444.219L1086.98 546.832H1097.37L1162.33 444.219H1151.94ZM1091.14 556.675L1091.14 556.675L1091.14 556.675H1091.14Z" fill="#F9F6E1"/>
				</g>
				<g id="light-window_2" style="mix-blend-mode:overlay">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M764.069 436.363L763.265 435.933L762.993 436.363H764.069ZM758.499 443.462L693.54 546.075H703.927L768.886 443.462H758.499ZM697.697 555.917L697.697 555.918L697.696 555.917H697.697Z" fill="#F9F6E1"/>
				</g>
				<g id="light-window_3" style="mix-blend-mode:overlay">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M780.713 436.376L779.91 435.946L779.638 436.376H780.713ZM775.144 443.475L710.185 546.088H720.572L785.531 443.475H775.144ZM714.341 555.93L714.341 555.93L714.341 555.93H714.341Z" fill="#F9F6E1"/>
				</g>
				<g id="light-window_4" style="mix-blend-mode:overlay">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M1202.93 443.462L1137.97 546.075H1208.27L1273.23 443.462H1202.93ZM1174.8 596.073H1176.62L1176.16 596.797L1174.8 596.073Z" fill="#F9F6E1"/>
				</g>
				</g>
				</g>
				<g id="window front">
				<path id="light-bg" fill-rule="evenodd" clip-rule="evenodd" d="M1368.18 575.228C1368.51 573.63 1368.69 571.905 1368.69 570.106C1368.69 567.217 1368.22 564.518 1367.42 562.228L1448.86 562.228C1452.45 562.228 1455.36 565.138 1455.36 568.728C1455.36 572.318 1452.45 575.228 1448.86 575.228L1368.18 575.228Z" fill="#00010A"/>
				<circle id="light-bybane" cx="1437.98" cy="568.728" r="5.08919" fill="#E6D862"/>
				<circle id="light-bybane_2" cx="1387.82" cy="568.728" r="5.08919" fill="#E6D862"/>
				<path id="window-front-bybane" fill-rule="evenodd" clip-rule="evenodd" d="M1329.62 452.543H1312.58L1304.05 439.905L1304.21 439.87L1341.78 439.87H1362.87C1366.75 441.751 1370.2 444.733 1372.73 448.815L1375.07 452.591H1375.06L1437.53 551.98H1375.03V551.774L1375.03 551.774L1312.54 452.544H1329.62L1329.62 452.543Z" fill="url(#paint33_linear_42_9)"/>
				</g>
				</g>
				<path id="cloud-foreground" fill-rule="evenodd" clip-rule="evenodd" d="M569.007 408.616H-420.464C-401.172 376.427 -368.572 355.274 -331.604 355.274C-322.167 355.274 -313.015 356.653 -304.297 359.241C-290.52 327.842 -267.653 307.304 -241.773 307.304C-232.221 307.304 -223.08 310.101 -214.654 315.211C-209.084 294.528 -201.551 281.837 -193.26 281.837C-183.869 281.837 -175.452 298.117 -169.756 323.848C-130.949 261.97 -48.1673 219.234 47.6881 219.234C142.557 219.234 224.62 261.095 263.919 321.944C276.824 305.977 293.038 296.469 310.646 296.469C334.761 296.469 356.26 314.302 370.226 342.137C378.938 320.594 390.889 307.304 404.075 307.304C418.878 307.304 432.125 324.055 440.98 350.428C451.485 346.541 462.704 344.439 474.358 344.439C515.329 344.439 550.937 370.422 569.007 408.616Z" fill="url(#paint34_linear_42_9)"/>
				<path id="cloud-foreground_2" fill-rule="evenodd" clip-rule="evenodd" d="M2408.86 732.224H1419.39C1438.68 700.034 1471.28 678.882 1508.25 678.882C1517.69 678.882 1526.84 680.26 1535.56 682.849C1549.33 651.45 1572.2 630.911 1598.08 630.911C1607.63 630.911 1616.77 633.709 1625.2 638.818C1630.77 618.136 1638.3 605.444 1646.59 605.444C1655.98 605.444 1664.4 621.725 1670.1 647.456C1708.9 585.578 1791.69 542.842 1887.54 542.842C1982.41 542.842 2064.47 584.702 2103.77 645.551C2116.68 629.584 2132.89 620.076 2150.5 620.076C2174.61 620.076 2196.11 637.909 2210.08 665.745C2218.79 644.202 2230.74 630.911 2243.93 630.911C2258.73 630.911 2271.98 647.662 2280.83 674.036C2291.34 670.149 2302.56 668.047 2314.21 668.047C2355.18 668.047 2390.79 694.029 2408.86 732.224Z" fill="url(#paint35_linear_42_9)"/>
				</g>
				<defs>
					<filter id="filter0_f_42_9" x="992.23" y="-124.454" width="327.821" height="327.821" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feGaussianBlur stdDeviation="8" result="effect1_foregroundBlur_42_9"/>
					</filter>
					<linearGradient id="paint0_linear_42_9" x1="1156.14" y1="-108.454" x2="1156.14" y2="187.367" gradientUnits="userSpaceOnUse">
					<stop stop-color="#FDEC50"/>
					<stop offset="1" stop-color="#CE4F4F" stop-opacity="0.12"/>
					</linearGradient>
					<linearGradient id="paint1_linear_42_9" x1="1156.14" y1="-108.454" x2="1156.14" y2="187.367" gradientUnits="userSpaceOnUse">
					<stop stop-color="#DA0000"/>
					<stop offset="1" stop-color="#FDEC50"/>
					</linearGradient>
					<linearGradient id="paint2_linear_42_9" x1="960" y1="58.6687" x2="960" y2="1022.38" gradientUnits="userSpaceOnUse">
					<stop stop-color="#E7FCFD"/>
					<stop offset="0.685" stop-color="#C0F0F1"/>
					</linearGradient>
					<linearGradient id="paint3_linear_42_9" x1="2872" y1="58.6687" x2="2872" y2="1022.38" gradientUnits="userSpaceOnUse">
					<stop stop-color="#E7FCFD"/>
					<stop offset="0.685" stop-color="#C0F0F1"/>
					</linearGradient>
					<linearGradient id="paint4_linear_42_9" x1="195.787" y1="59.21" x2="195.798" y2="147.027" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#FAFFFF" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint5_linear_42_9" x1="1811.7" y1="206.676" x2="1811.7" y2="254.415" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#FAFFFF" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint6_linear_42_9" x1="1204.37" y1="-30.6791" x2="1241.74" y2="718.595" gradientUnits="userSpaceOnUse">
					<stop stop-color="#C1F6F8"/>
					<stop offset="1" stop-color="#B9EBED"/>
					</linearGradient>
					<linearGradient id="paint7_linear_42_9" x1="3123.37" y1="-30.6791" x2="3160.74" y2="718.595" gradientUnits="userSpaceOnUse">
					<stop stop-color="#C1F6F8"/>
					<stop offset="1" stop-color="#B9EBED"/>
					</linearGradient>
					<linearGradient id="paint8_linear_42_9" x1="1951.39" y1="252.756" x2="1951.4" y2="340.572" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#FAFFFF" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint9_linear_42_9" x1="1128.62" y1="130.669" x2="1143.9" y2="1319.67" gradientUnits="userSpaceOnUse">
					<stop stop-color="#C8FBFD"/>
					<stop offset="0.0001" stop-color="#A5EFF1"/>
					<stop offset="0.395" stop-color="#95EAEA"/>
					<stop offset="0.515" stop-color="#AAED8A"/>
					</linearGradient>
					<linearGradient id="paint10_linear_42_9" x1="0.629883" y1="612.863" x2="1915.17" y2="612.863" gradientUnits="userSpaceOnUse">
					<stop stop-color="#07072D"/>
					<stop offset="0.23" stop-color="#00FFF0" stop-opacity="0"/>
					<stop offset="0.831211" stop-color="#00FFFB" stop-opacity="0.227273"/>
					<stop offset="1" stop-color="#080A2F"/>
					</linearGradient>
					<linearGradient id="paint11_linear_42_9" x1="3040.62" y1="130.669" x2="3055.9" y2="1319.67" gradientUnits="userSpaceOnUse">
					<stop stop-color="#C8FBFD"/>
					<stop offset="0.0001" stop-color="#A5EFF1"/>
					<stop offset="0.395" stop-color="#95EAEA"/>
					<stop offset="0.515" stop-color="#AAED8A"/>
					</linearGradient>
					<linearGradient id="paint12_linear_42_9" x1="1912.63" y1="612.863" x2="3827.17" y2="612.863" gradientUnits="userSpaceOnUse">
					<stop stop-color="#07072D"/>
					<stop offset="0.23" stop-color="#00FFF0" stop-opacity="0"/>
					<stop offset="0.831211" stop-color="#00FFFB" stop-opacity="0.227273"/>
					<stop offset="1" stop-color="#080A2F"/>
					</linearGradient>
					<linearGradient id="paint13_linear_42_9" x1="353.898" y1="343.817" x2="263.391" y2="475.87" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="0.585" stop-color="#1C7C6B"/>
					</linearGradient>
					<linearGradient id="paint14_linear_42_9" x1="353.898" y1="343.817" x2="263.391" y2="475.87" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="0.585" stop-color="#1C7C6B"/>
					</linearGradient>
					<linearGradient id="paint15_linear_42_9" x1="1504.11" y1="466.377" x2="1537.11" y2="338.875" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="1" stop-color="#87C39B"/>
					</linearGradient>
					<linearGradient id="paint16_linear_42_9" x1="161.407" y1="341.209" x2="123.676" y2="412.231" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="1" stop-color="#146456"/>
					</linearGradient>
					<linearGradient id="paint17_linear_42_9" x1="962.188" y1="456.906" x2="962.188" y2="1030.57" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="1" stop-color="#113E58"/>
					</linearGradient>
					<linearGradient id="paint18_linear_42_9" x1="962.188" y1="456.906" x2="962.188" y2="1030.57" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="1" stop-color="#113E58"/>
					</linearGradient>
					<linearGradient id="paint19_linear_42_9" x1="-62.4824" y1="742.664" x2="1993.32" y2="742.664" gradientUnits="userSpaceOnUse">
					<stop stop-color="#154452"/>
					<stop offset="0.49" stop-color="#E6D862"/>
					<stop offset="0.92" stop-color="#154452"/>
					</linearGradient>
					<linearGradient id="paint20_linear_42_9" x1="786.581" y1="190.42" x2="-47.4401" y2="195.772" gradientUnits="userSpaceOnUse">
					<stop offset="0.292359" stop-color="#E5D862" stop-opacity="0"/>
					<stop offset="0.623011" stop-color="#E5D862" stop-opacity="0.54"/>
					<stop offset="0.83" stop-color="#E5D862" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint21_linear_42_9" x1="2863.19" y1="456.906" x2="2863.19" y2="1030.57" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="1" stop-color="#113E58"/>
					</linearGradient>
					<linearGradient id="paint22_linear_42_9" x1="2863.19" y1="456.906" x2="2863.19" y2="1030.57" gradientUnits="userSpaceOnUse">
					<stop stop-color="#279884"/>
					<stop offset="1" stop-color="#113E58"/>
					</linearGradient>
					<linearGradient id="paint23_linear_42_9" x1="1838.52" y1="742.664" x2="3894.32" y2="742.664" gradientUnits="userSpaceOnUse">
					<stop stop-color="#154452"/>
					<stop offset="0.49" stop-color="#E6D862"/>
					<stop offset="0.785" stop-color="#154452"/>
					</linearGradient>
					<linearGradient id="paint24_linear_42_9" x1="961.52" y1="588.073" x2="961.52" y2="1080.8" gradientUnits="userSpaceOnUse">
					<stop stop-color="#060029"/>
					<stop offset="0.725" stop-color="#154452"/>
					<stop offset="1" stop-color="#279884"/>
					</linearGradient>
					<linearGradient id="paint25_linear_42_9" x1="961.52" y1="588.073" x2="961.52" y2="1080.8" gradientUnits="userSpaceOnUse">
					<stop stop-color="#060029"/>
					<stop offset="0.725" stop-color="#154452"/>
					<stop offset="1" stop-color="#279884"/>
					</linearGradient>
					<linearGradient id="paint26_linear_42_9" x1="1422.38" y1="612.871" x2="-85.8289" y2="618.309" gradientUnits="userSpaceOnUse">
					<stop offset="0.292359" stop-color="#E5D862" stop-opacity="0"/>
					<stop offset="0.623011" stop-color="#E5D862" stop-opacity="0.54"/>
					<stop offset="0.83" stop-color="#E5D862" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint27_linear_42_9" x1="2877.52" y1="588.073" x2="2877.52" y2="1080.8" gradientUnits="userSpaceOnUse">
					<stop stop-color="#060029"/>
					<stop offset="0.725" stop-color="#154452"/>
					<stop offset="1" stop-color="#279884"/>
					</linearGradient>
					<linearGradient id="paint28_linear_42_9" x1="2877.52" y1="588.073" x2="2877.52" y2="1080.8" gradientUnits="userSpaceOnUse">
					<stop stop-color="#060029"/>
					<stop offset="0.725" stop-color="#154452"/>
					<stop offset="1" stop-color="#279884"/>
					</linearGradient>
					<linearGradient id="paint29_linear_42_9" x1="1422.38" y1="612.871" x2="-85.8289" y2="618.309" gradientUnits="userSpaceOnUse">
					<stop offset="0.292359" stop-color="#E5D862" stop-opacity="0"/>
					<stop offset="0.623011" stop-color="#E5D862" stop-opacity="0.54"/>
					<stop offset="0.83" stop-color="#E5D862" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint30_linear_42_9" x1="926.69" y1="439.966" x2="926.69" y2="586.403" gradientUnits="userSpaceOnUse">
					<stop offset="0.165" stop-color="#F24822"/>
					<stop offset="0.35" stop-color="#551A10"/>
					<stop offset="0.57" stop-color="#160A19"/>
					<stop offset="0.735" stop-color="#03051C"/>
					<stop offset="1" stop-color="#00010A"/>
					</linearGradient>
					<linearGradient id="paint31_linear_42_9" x1="850.18" y1="430.382" x2="850.18" y2="605.77" gradientUnits="userSpaceOnUse">
					<stop stop-color="#474965"/>
					<stop offset="0.08" stop-color="#CAC6D6"/>
					<stop offset="1" stop-color="#1D2241"/>
					</linearGradient>
					<linearGradient id="paint32_linear_42_9" x1="982.699" y1="430.382" x2="982.699" y2="605.77" gradientUnits="userSpaceOnUse">
					<stop stop-color="#474965"/>
					<stop offset="0.08" stop-color="#CAC6D6"/>
					<stop offset="1" stop-color="#1D2241"/>
					</linearGradient>
					<linearGradient id="paint33_linear_42_9" x1="1370.79" y1="439.87" x2="1370.79" y2="551.98" gradientUnits="userSpaceOnUse">
					<stop stop-color="#04071F" stop-opacity="0.49"/>
					<stop offset="0.335" stop-color="#010311" stop-opacity="0.83425"/>
					<stop offset="1" stop-color="#00010A"/>
					</linearGradient>
					<linearGradient id="paint34_linear_42_9" x1="47.6884" y1="219.234" x2="52.027" y2="542.128" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="0.0001" stop-color="white"/>
					<stop offset="1" stop-color="#BDF0F0" stop-opacity="0.85"/>
					</linearGradient>
					<linearGradient id="paint35_linear_42_9" x1="1887.54" y1="542.842" x2="1891.88" y2="865.736" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="0.0001" stop-color="white"/>
					<stop offset="1" stop-color="#BDF0F0" stop-opacity="0.85"/>
					</linearGradient>
					<clipPath id="clip0_42_9">
					<rect width="1920" height="1080" fill="white" transform="translate(0 0.802856)"/>
					</clipPath>
				</defs>
			</svg>
		</div>			
	</body>

</html>
<script>
</script>
<style>

body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;

.title-container {
	position: relative;
	width: auto;
}

h1 {
	font-family: 'Bungee';
	font-size: clamp(8rem, 70vw, 15rem);
	background: linear-gradient(to top, red, yellow);
	background-size: 100% 100%;

	animation: 1s ease infinite gradient;

	-webkit-text-stroke: 2px #000;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	text-decoration: none;
	text-transform: uppercase;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
}

}
	cursor: pointer;
}

</style>