---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<div class="box-cont">
            <div id="onboard-btn">KLAR?</div>

			
		</div>
		<div class="go">
			<span>GÅ!</span>
		</div>
	</body>

</html>
<script>
setTimeout(() => {
	document.getElementById("onboard-btn").innerHTML = "FERDIG?"
}, 1500);

setTimeout(() => {
	document.querySelector(".go")!.setAttribute("style", "display: flex;");
}, 3000);

setTimeout(() => {
	window.location.href = '/quiz';
}, 4500);

</script>
<style>
body {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	/* background-color: black; */
}
div.box-cont {
	border: 2px solid black;
	width: 50%;
	height: 80%;
	position: relative;
}
div#onboard-btn {
	cursor: pointer;
	position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    background: maroon;
    color: white;
    border: 0;
	font-size: 2rem;
}

div.go {
	display: none;
	position: absolute;
	height: 100vh;
	width: 100%;
	background-color: orangered;
	/* display: flex; */
	align-items: center;
	justify-content: center;

	span {
		font-size: 4rem;
		color: white;
	}
}
</style>